* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(182, 178, 178);
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: 0px auto;
}

.section {
    background-color: #ddd;
    margin: 10px 0;
    box-shadow: 0 0 5px #aaa;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #aaa
}

.section__body {
    padding: 20px;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ddd;
}

.form__button {
    background-color: rgb(12, 143, 130);
    border: none;
    color: white;
}

.form__button:hover {
    background-color: hsl(174, 85%, 35%);
    border: none;
    color: white;
}

.form__button:active {
    background-color: hsl(174, 85%, 30%);
    border: none;
    color: white;
}

.form__button-notdone {
    display: grid;
    height: 30px;
    width: 30px;
    background-color: green;
}

.button-notdone:hover {
    display: grid;
    height: 30px;
    width: 30px;
    background-color: hsl(120, 100%, 20%);
}

.tasks__button--toggleDone {
    border: none;
    height: 30px;
    width: 30px;
    background-color: green;
    padding: 0;
}

.tasks__button--toggleDone:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasks__button--toggleDone:active {
    background-color: hsl(120, 100%, 35%);
}

.tasks__button--remove {
    color: white;
    height: 30px;
    width: 30px;
    background-color: red;
    padding: 0;
    border: none;
}

.tasks__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
}

.tasks__button--remove:active {
    background-color: hsl(0, 100%, 70%);
}

.tasks {
    list-style: none;
    padding:0;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #aaa;
}

.tasks__content {
    text-decoration: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

