* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(182, 178, 178);
}

.container {
    max-width: 900px;
    padding: 20px;
    margin: 0px auto;
}

.section {
    background-color: #ddd;
    margin: 10px 0;
    box-shadow: 0 0 5px #aaa;
}

.section__header {
    font-size: 20px;
    padding: 20px;
    margin: 0;
    border-bottom: 1px solid #aaa
}

.section__body {
    padding: 20px;
}

.grey-background {
    background-color: #eee;
    padding: 10px 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__input {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #ddd;
}

.button {
    background-color: rgb(12, 143, 130);
    border: none;
    color: white;
    font-weight: bold;
}

.button-notdone {
    display: grid;
    height: 30px;
    width: 30px;
    background-color: green;
}

.button-notdone:hover {
    display: grid;
    height: 30px;
    width: 30px;
    background-color: rgb(12, 165, 12);
}

.tasks__button {
    height: 30px;
    width: 30px;
}

.button-remove {
    color: white;
    height: 30px;
    width: 30px;
    background-color: red;
    padding: 0;
    border: none;
}

.tasks {
    list-style: none;
}

.task__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
}

.tasks__content {
    text-decoration: line-through;
}

.tasks__content--done {
    text-decoration: none;
}

.tasks__button--toggleDone {}